.imgCarousel {
    height: 400px;
    object-fit: cover;
}

.mapa {
    width: 80%;
    border-radius: 10px;
    margin-left: 10%;
}

.texto {
    text-align: center;
    display: inline-block;
    background-color: rgba(212, 212, 212, 0.853);
    color: black;
    padding: 10px 20px;
    border-radius: 10px;
}