h5 {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 15px;
}

.btnColor {
    background-color: rgba(0, 91, 249, 0.853);
    color: #fafafa;
    font-size: 15px;

    &:hover {
        background-color: blue;
        color: #fafafa;
    }
}